<div style="width: 60%;margin: 0 auto;">
    <div class="card-group">
       <div class="row">
         @for  (p of products; track p) {

            <div class="card col-md-3 mb-3">
              <img [src]="p.img" class="card-img-top" alt="...">
                <div class="card-body">
                 <h5 class="card-title">{{p.name}}</h5>
                  <p class="card-text">{{p.description}}</p>
                  <p class="card-text">${{p.price}}</p>
                 
                    </div>
  </div>
}
  </div>
  </div>
</div>  